/* Import font */
@font-face {
    font-family: "Philosopher-Regular";
    src: url(".././../asserts/font/Philosopher-Regular.ttf");
  }
:root {
    --primary-color: #e4c5c4;
    --primary-color-hover:#c8ad8d;
    --secondary-color: #6f7357;
    --dark-color: #273a2d;
    --white-color:#ebe6ea;
}
.nav{
    background-color: var(--dark-color);
    font-family: 'Philosopher-Regular';
    
}
.text{
    color: var(--white-color);
}
.text:hover{
    color:var(--primary-color-hover);
}
.navigateLink {
    background-color: transparent;
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    font-family: 'Philosopher-Regular';
    font-weight: 500;
    margin: 0.5rem 0.4rem;  
}

.navigateLink:hover {
    color: var(--secondary-color);
}

.navigateLinkActive {
    color: var(--white-color) !important;
    font-size: 1em;
    text-decoration: none !important;
    font-family: 'Philosopher-Regular';
    font-weight: 500;
    margin: 0.5rem 0.4rem;
 
}
.navigateLinkActive:hover {
    color: var(--primary-color-hover);
}
